
{% extends "layout.html" %}

{% block title %}
  Demo Page
{% endblock %}

{% block body %}
    <!-- Full Page Container -->
    <div class="container-fluid">
        <!-- Every Row has 4 videos -->
        <!-- First Row with 4 videos -->
        <div class="row w-100 mt-2 mb-3 d-flex flex-wrap justify-content-around">

            <!-- First Video Container -->
           

            <!-- Second Video Container -->
            <div class="card mx-1 col-sm col-md-6 col-lg-3">
                <iframe src="https://www.youtube.com/embed/j_V6PTcCQCc?si=gsNhHZweEfMCeVVi" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
                <p class="text-dark">
                    World Taekwondo Dome Video.
                </p>
               
            </div>

            <!-- Third Video Container -->
            <div class="card mx-1 col-sm col-md-6 col-lg-3">
                <iframe src="https://www.youtube.com/embed/YaZwRffUvsk?si=-Bqsnmmoye9kQ2TX&amp;start=120" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
                <p class="text-dark">
                    Taekwondo Kyorugi/Fight Demo Video.
                </p>
                
            </div>

            <!-- Fourth Video Container -->
            <div class="card mx-1 col-sm col-md-6 col-lg-3">
                <iframe src="https://www.youtube.com/embed/3cigWtC2hoc?si=-RS42QRyByyxN80U&amp;start=19" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
                <p class="text-dark">
                    Taekwondo Poomsae Demo Video.
                </p>
               
            </div>

        </div>

       <!-- Second Row with 4 videos -->
        <div class="row w-100 mt-2 mb-3 d-flex flex-wrap justify-content-around">


            <!-- Second Video Container -->
            <div class="card mx-1 col-sm col-md-6 col-lg-3">
                <iframe src="https://www.youtube.com/embed/R6pbtMdpmIM?si=yqrZe46zPMS2vA3J&amp;start=19" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
                <p class="text-dark">
                    Taegeuk 5/Oh Jang Demo Video.
                </p>
               
            </div>

            <!-- Third Video Container -->
            <div class="card mx-1 col-sm col-md-6 col-lg-3">
                <iframe src="https://www.youtube.com/embed/Hf_iXEglSh0?si=pHTCqHYCaaDEaEit&amp;start=19" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
                <p class="text-dark">
                    Taegeuk 6/Yook Jang Demo Video.
                </p>
               
            </div>

            <!-- Fourth Video Container -->
            <div class="card mx-1 col-sm col-md-6 col-lg-3">
                <iframe src="https://www.youtube.com/embed/3sdXjt-j5-A?si=-hGtpj6XKzZcTq4y&amp;start=19" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>
                <p class="text-dark">
                    Taegeuk 4/Sa Jang Demo Video.
                </p>
                
            </div>

        </div>

       <!-- Third Row with 4 videos -->
       <div class="row w-100 mt-2 mb-3 d-flex flex-wrap justify-content-around">


        <!-- Second Video Container -->
        <div class="card mx-1 col-sm col-md-6 col-lg-3">
            <iframe src="https://www.youtube.com/embed/j_V6PTcCQCc?si=gsNhHZweEfMCeVVi" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
            <p class="text-dark">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </p>
           
        </div>

        <!-- Third Video Container -->
        <div class="card mx-1 col-sm col-md-6 col-lg-3">
            <iframe src="https://www.youtube.com/embed/j_V6PTcCQCc?si=gsNhHZweEfMCeVVi" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
            <p class="text-dark">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </p>
           
        </div>

        <!-- Fourth Video Container -->
        <div class="card mx-1 col-sm col-md-6 col-lg-3">
            <iframe src="https://www.youtube.com/embed/j_V6PTcCQCc?si=gsNhHZweEfMCeVVi" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
            <p class="text-dark">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            </p>
            
        </div>

    </div>

    {% endblock %}

