{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block body %}
<!-- Code of Slider -->
<div id="carouselExampleCaptions" class="carousel slide carousel-fade" style="height: 100vh;">
    <!-- Slider Bottom Buttons -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <!-- First Slider -->
        <div class="carousel-item active">
            <!-- Change image here -->
            <img style="height: 100vh;" src="static/img/bg-img.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>

        <!-- Second Slider -->
        <div class="carousel-item">
            <!-- Change image here -->
            <img style="height: 100vh;" src="static/img/TKD1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>

        <!-- Third Slider -->
        <div class="carousel-item">
            <!-- Change image here -->
            <img style="height: 100vh;" src="static/img/TKD2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
    </div>

    <!-- Slider Left & Right Button -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<script>
    // Function to automatically slide the carousel every 2 seconds
    setInterval(function() {
        var currentSlide = document.querySelector('.carousel-item.active');
        var nextSlide = currentSlide.nextElementSibling || document.querySelector('.carousel-item:first-child');
        currentSlide.classList.remove('active');
        nextSlide.classList.add('active');
    }, 2000); // Change the interval here if needed
</script>

{% endblock %}
